<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/product?_method=patch" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <!-- <label for="ImageName">Image</label>
                        <input type="file" class="form-control" name="image"> -->
                        <label for="name">Name</label>
                        <input type="text" class="form-control name" name="name" placeholder="Enter name" required>
                        <label for="qty">Qty</label>
                        <input type="number" class="form-control qty" name="qty" placeholder="Enter qty" required>
                        <label for="desc">Description</label>
                        <input type="text" class="form-control desc" name="desc" placeholder="Enter desc">
                        <label for="price">Price</label>
                        <input type="number" class="form-control price" name="price" placeholder="Enter price" required>
                        <label for="categoryId">Category</label>
                        <select type="text" class="form-control categoryid" name="categoryId">
                            <option value="">--- Category ---</option>
                            <% for( let index=0; index < category.length; index++ ) { %>
                                <option value="<%= category[index].id %>"><%= category[index].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" class="id" name="id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>